<!-- Launch RVIZ navigating configuration -->
<launch>
    <param name="use_gui" value="true"/>
    <arg name="config" default="navigation_config"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find equipo5_autonomousNavigation_puzzleBot)/rviz/$(arg config).rviz" respawn="false" output="screen"/>
</launch>

